#banner {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image: url("..\\images\\banner.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}
body {
  padding-top: 12vh;
}


.card:hover {
  transform: scale(1.1);
}


.pluslink, .pluslink:visited,.pluslink:hover,.pluslink:active {
  color: black;
  text-decoration: none;
}

.starRating {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-color: white;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}
/* #trending {


    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;

} */
